body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/clientbackgroungimage.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  button {
    width: 150px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login {
    background-color: #4CA1AF;
    border: none;
    color: white;
    border-radius: 5px;
  }
  
  .login:hover {
    background-color: #3B8C99;
  }
  
  .register {
    background-color: #6c757d;
    border: none;
    color: white;
    border-radius: 5px;
  }
  
  .register:hover {
    background-color: #5a6268;
  }
  